<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to 'スタッフページ', staffs_account_path, class: "link-gray" %>
  ＞ スタッフ一覧
</p>
<div class="container">
<h1 class="center">スタッフ一覧</h1>
</div>
<hr>
<div>
  <%= link_to "お知らせ新規作成", new_notification_path, class: "btn btn-primary" %>&nbsp;
  <%= link_to "お知らせ一覧へ", notifications_path, class: "btn btn-primary" %>
</div>
