<div class="container">

  <div class="top-main-image">
    <%= image_tag("/body_care1.jpg", width: '100%') %>
  </div>

  <div class="top-content">
    <h1>[NEW] ゲンキノモト。からのお知らせ</h1>
    <p>キャンペーン告知などをここに。</p>
  </div>

  <div class="top-split-content">
    <div class="top-split-content-left">
      <h1>[NEW] 商品ピックアップ情報</h1>
      <p>キャンペーン告知などをここに。</p>
    </div>
    <div class="top-split-content-right">
      <h1>[NEW] イベント情報</h1>
      <p>キャンペーン告知などをここに。</p>
    </div>
  </div>

</div>
