<% provide(:button_text, '登録') %>
<div class="page-info">
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to '施術メニュー管理画面', menus_path, class: "link-gray" %> ＞ 施術メニュー登録
</div>

<div class="container">
  <div class="center col-md-8 offset-md-2">
  <h1>施術メニュー登録</h1>
    <%= render 'form' %>
  </div>
</div>


