<%= link_to 'ホーム', root_url, class: "link-gray" %>
＞
<%= link_to 'イベント一覧', events_path, class: "link-gray" %>

<div class="container">
  <div class="center">
    <h1>イベントの編集</h1>
      <%= render 'form' %>
  </div>
</div>