/* universal */

html {
  min-height: 100%; //背景色の高さを画面サイズに合わせる
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0.7em;
}

h1 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

table {
  margin-left: auto;
  margin-right: auto;
}

ul,
li {
  list-style: none;
  font-size: 1rem;
}

body {
  color: #000;
  background: #fff;
  padding-top: 6rem;
  padding-bottom: 4rem;
  // background-image: image-url('orange_bg1.png');
  // background-color:rgba(255,255,255,0.4); //背景画像の色を薄くする場合① ①②の両方が必要
  // background-blend-mode:lighten; //背景画像の色を薄くする場合② ①②の両方が必要
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.link-black {
  text-decoration: none;
  color: #000;
}

.link-gray {
  text-decoration: none;
  color: #696969;
}

.link-red {
  text-decoration: none;
  color: red;
}

.link-white {
  text-decoration: none;
  color: #fff;
}

.header {
  background-color: #fff;
  border-bottom: 5px solid gray;
  opacity: 0.85;
  // height: 6em;
  top: 0em;
  width: 100%;
  position: fixed;
  z-index: 90;
}

.logo {
  margin-left: 20px;
}

.header-menu {
  list-style: none;
  overflow: hidden;
  margin: 0 0 0 auto;
  width: 90%;
}

.header-menu li {
  width: 25%;
  height: 30px;
  text-align: center;
  background-color: #fff;
  float: left;
  border-right: 1px solid gray;
  // position: relative;
}

.nav {
  margin-right: 20px;
  color: #000;
}

.dropdown-menu {
  z-index: 99; //一番上にくる
}

.header-customer {
  text-align: right;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 90;
}

.header-staff {
  text-align: left;
  position: fixed;
  left: 10px;
  float: left;
  vertical-align: middle;
}



.footer {
  position: fixed;
  height: 2rem;
  bottom: 0; /*下に固定*/
  width: 100%;
  font-size: 1em;
  color: #fff;
  background-color: #000;
  opacity: 0.8;
  z-index: 99; //一番上にくる
}

.card {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}

.top-main-image {
  margin-bottom: 20px;
}

.top-content {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  height: 200px;
  border: 1px solid gray;
}

.top-split-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-split-content-left,
.top-split-content-right {
  border: 1px solid gray;
  padding: 20px;
  height: 200px;
  width: 50%;
  float: left;
}

// devise設定

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  .form-control {
    margin-bottom: 20px;
  }
}

.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

.round-square-top {
  width: 250px; /* 幅指定 */
  height: 80px; /* 高さ指定 */
  border-radius: 15px; /* 角丸指定 */
  display: inline-block; /* インラインブロックする */
  box-sizing: border-box; /* 崩れ防止 */
  margin-bottom: 5px;
  margin-right: 10px; /* 要素の空き具合指定 */
  padding: 2rem;
  // font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro";    /* フォントの種類を指定 */
  text-align: center;
  line-height: 1.5em;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 255, 198);
  border-color: #000;
  font-size: 15px;
}

/*ページネーション自体のデザイン*/
.pagination {
  /*ページネーションを中央に*/
  justify-content: center;
  display: flex;
}
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}
.pagination > li > a:hover {
  /*ホバー時のデザイン*/
  border-radius: 3px; /*角を丸くする*/
}
/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: gray !important; /*背景の色を変える*/
  border-radius: 3px !important; /*角を丸くする*/
  line-height: 1.25 !important;
  padding: 0.5rem 0.75rem !important;
}
.pagination > .active > a:hover {
  background: lightgray !important; /*背景の色を変える*/
  border-radius: 3px !important; /*角を丸くする*/
}

.image-border {
  border: 1px solid #ccc;
}

.item-show-name,
.event-show-title {
  font-size: 25px;
}

.item-show-price,
.event-show-price {
  font-size: 25px;
  color: crimson;
}

.search-container {
  border: 1px solid #999;
  padding: 3px 10px;
  margin-bottom: 3px;
  width: 260px;
}

.sort_link {
  color: #696969;
}

.sort_link:hover {
  color: #999;
  text-decoration: none;
}

//テーブル表示
.table-white {
  background-color: white;
}

.table-red {
  color: #c22162;
  background-color: #faf1f4;
}

.table-blue {
  color: #0c7ea9;
  background-color: #e3f3f9;
}

.btn-reservation {
  padding: 0.1rem 0.75rem;
}

.fc .fc-scrollgrid {
  background-color: white;
}

#reservation_course {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #ced4da;
  background-color: #fff;
}

.cart-content-wrapper {
  display: flex;
  align-items: baseline; // position stickyに必要
}

.cart-content-left {
  width: 50%;
  margin-right: 10%;
}

.cart-content-right {
  width: 40%;
  position: sticky;
  align-self: baseline; // position stickyに必要
  top: 6rem; // position stickyに必要 スクロールのときに上で止まる位置
}

.cart-table-left {
}

.cart-table-right {
  border: 10px orange solid;
}

.table-striped {
  border: 1px solid lightgray;
}

.required::after {
  content: "必須";
  color: #ffffff;
  background: #cc0000;
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 0.5em;
  margin-left: 0.3em;
}

.event-content-wrapper {
}

.split-content-left {
  width: 50%;
  margin-right: 10%;
  float: left;
}

.split-content-right {
  width: 40%;
  float: left;
}

.covid_precaution {
  float: left;
  padding-bottom: 4rem;
}

.covid_precaution div {
  padding: 50px;
  background-color: lightgray;
}

.event-card-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.event-card-item {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  border-radius: 10px; /* 角丸指定 */
}

.event-card-title {
  padding: 16px;
  line-height: 1.2;
}

.border-radius-top {
  border-radius: 10px 10px 0px 0px;
}

.store-card-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 40px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.store-card-item {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  border-radius: 10px; /* 角丸指定 */
}

.store-card-title {
  padding: 16px;
  line-height: 1.2;
  
}
