/* universal */

html {
  min-height: 100%; //背景色の高さを画面サイズに合わせる
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0.7em;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
}

table {
  margin-left: auto;
  margin-right: auto;
}

ul,
li {
  list-style: none;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

body {
  color: #000;
  background: #ffffff;
}

#c-body {
  min-height: 100vh;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.link-black {
  text-decoration: none;
  color: black;
}

.link-gray {
  text-decoration: none;
  color: gray;
}

.link-lightgray {
  text-decoration: none;
  color: rgb(237, 237, 237);
}
.link-lightgray:hover {
  text-decoration: none;
  color: white;
}

.link-red {
  text-decoration: none;
  color: red;
}

.link-white {
  text-decoration: none;
  color: white;
}

.link-blue {
  text-decoration: none;
  color: blue;
}

.page-info {
  font-size: 1em;
  color: rgb(24, 24, 24);
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

// devise設定
  .container-login {
    @extend .container-fluid;
    max-width: 576px;
    .form-control {
      margin-bottom: 20px;
    }
  }

  .mw-md {
    margin-top: 20px;
    max-width: 576px;
  }

  .mw-xl {
    max-width: 1200px;
  }
// ---------

.round-square-top {
  width: 250px; /* 幅指定 */
  height: 80px; /* 高さ指定 */
  border-radius: 15px; /* 角丸指定 */
  display: inline-block; /* インラインブロックする */
  box-sizing: border-box; /* 崩れ防止 */
  margin-bottom: 5px;
  margin-right: 10px; /* 要素の空き具合指定 */
  padding: 2rem;
  // font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro";    /* フォントの種類を指定 */
  text-align: center;
  line-height: 1.5em;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 255, 198);
  border-color: #000;
  font-size: 15px;
}

/*ページネーション自体のデザイン*/
.pagination {
  /*ページネーションを中央に*/
  justify-content: center;
  display: flex;
}
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}
.pagination > li > a:hover {
  /*ホバー時のデザイン*/
  border-radius: 3px; /*角を丸くする*/
}
/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: gray !important; /*背景の色を変える*/
  border-radius: 3px !important; /*角を丸くする*/
  line-height: 1.25 !important;
  padding: 0.5rem 0.75rem !important;
}
.pagination > .active > a:hover {
  background: lightgray !important; /*背景の色を変える*/
  border-radius: 3px !important; /*角を丸くする*/
}

.image-border {
  border: 1px solid #ccc;
}

.item-show-name,
.event-show-title {
  font-size: 25px;
}

.item-show-price,
.event-show-price {
  font-size: 25px;
  color: crimson;
}

.search-container {
  border: 1px solid #999;
  padding: 3px 10px;
  margin-bottom: 3px;
  width: 260px;
}

.sort_link {
  color: #696969;
}

.sort_link:hover {
  color: #999;
  text-decoration: none;
}

//テーブル表示
.table-white {
  background-color: white;
}

.table-red {
  color: #c22162;
  background-color: #faf1f4;
}

.table-blue {
  color: #0c7ea9;
  background-color: #e3f3f9;
}

.btn-reservation {
  padding: 0.1rem 0.75rem;
}

.fc .fc-scrollgrid {
  background-color: white;
}

.cart-content-wrapper {
  display: flex; // position stickyに必要
  align-items: baseline; // position stickyに必要
}

.cart-content-left {
  width: 50%;
  margin-right: 10%;
}

.cart-content-right {
  width: 40%;
  position: sticky; // position stickyに必要
  align-self: baseline; // position stickyに必要
  top: 6rem; // position stickyに必要 スクロールのときに上で止まる位置
}

.cart-table-left {
}

.cart-table-right {
  border: 10px orange solid;
}

.table-striped {
  border: 1px solid lightgray;
}

.required::after {
  content: "必須";
  color: #ffffff;
  background: #cc0000;
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 0.5em;
  margin-left: 0.3em;
}

.event-content-wrapper {
}

.split-content-left {
  width: 50%;
  margin-right: 10%;
  float: left;
}

.split-content-right {
  width: 40%;
  float: left;
}

.covid_precaution {
  float: left;
  padding-bottom: 4rem;
}

.covid_precaution div {
  padding: 50px;
  background-color: lightgray;
}

.event-card-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.event-card-item {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  border-radius: 10px; /* 角丸指定 */
}

.event-card-title {
  padding: 16px;
  line-height: 1.2;
}

.border-radius-top {
  border-radius: 10px 10px 0px 0px;
}

.menu-new-page-btn {
  margin-bottom:  20px;
}

.store-card-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 40px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.store-card-item {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  border-radius: 10px; /* 角丸指定 */
}

.store-card-title {
  padding: 16px;
  line-height: 1.2;
}

.Editlink {
  text-decoration: none;
  color: #444 ;
}

// お知らせ notification
.notification-image {
  background-image: url("../images/notification-top.jpg");
  max-width: 100%;
  height: 450px;
  background-size: cover;  
  background-position: center center;
  border-radius: 20px;
  span {
    color: whitesmoke;
    font-size: 2.8rem;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
  }
}

.notification-show-image {
  background-image: url("../images/notification-show.jpg");
  max-width: 100%;
  height: 450px;
  background-size: cover;  
  background-position: center center;
  border-radius: 20px;
  span {
    color: whitesmoke;
    font-size: 2.8rem;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
  }
}

.notification-body {
  margin-top: 30px;
  li {
    padding-bottom: 20px;
  }
}

.notification-wrapper {
  background-color: #FFFFFA;
  margin-top: 30px;
  padding: 20px 20px 50px 20px;
  margin-bottom: 20px;
  color: #444;
  h4 {
    color: #444;
    padding-top: 50px;
  }
}

#design-hr {
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ccc), to(transparent));
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
  margin: 30px auto;
}
// -----------------------

.staff-account-wrapper {
  width: 100%;
  display: flex; // position stickyに必要
  align-items: baseline; // position stickyに必要
}

.staff-account-wrapper-left {
  width: 65%;
  margin-right: 5%;
}

.staff-account-wrapper-right {
  width: 30%;
  align-self: baseline; // position stickyに必要
  top: 6rem; // position stickyに必要 スクロールのときに上で止まる位置
  position: sticky; // position stickyに必要
}

.purchase-record-table {
  span {
    color: red;
  }
}
    
.font-red {
  color: red;
}
