/* universal */

html {
  min-height: 100%; //背景色の高さを画面サイズに合わせる
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0.7em;
}

h1 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

table {
  margin-left: auto;
  margin-right: auto;
}

ul,
li {
  list-style: none;
  font-size: 1rem;
}

// smartphone first
body {
  width: 100%;
  color: #000;
  background: #fff;
  padding-bottom: 4rem;
  padding-top:11rem;
  @media (min-width: 600px) { //600px以上の場合
    padding-top: 6rem;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.link-black {
  text-decoration: none;
  color: black;
}

.link-gray {
  text-decoration: none;
  color: gray;
}

.link-red {
  text-decoration: none;
  color: red;
}

.link-white {
  text-decoration: none;
  color: white;
}

.link-blue {
  text-decoration: none;
  color: blue;
}

/* header */

.header {
  background-color: #fff;
  border-bottom: 5px solid gray;
  opacity: 0.85;
  top: 0em;
  width: 100%;
  position: fixed;
  z-index: 90;
}

// smartphone first
#logo {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 600px) { //600px以上の場合
    margin-left: 20px;
  }
}

// for dropdown buttons
.dropdown-menu {
  z-index: 99; //一番上にくる
}

// smartphone first
.header-user-buttons {
  z-index: 90;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 600px) { //600px以上の場合
    top: 10px;
    right: 20px;
    position: fixed;
  }
  li {
    float: left;
  }
}

// smartphone first
ul.header-service-tabs {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 0;
  li {
    width: 24%;
    height: 50px;
    margin-right: 1%;
    font-size: 0.8rem;
    text-align: center;
    float: left;
    display: block;
    background-color: #145885;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .link {
    color: #fff;
    text-decoration: none;
  }
  @media (min-width: 600px) { //600px以上の場合
    margin-left: auto;
    margin-right: auto;
    
    li {
      width: 25%;
      height: auto;
      font-size: 1rem;
      margin-right: 0;
      background-color: #fff;
      float: left;
      border-right: 2px solid gray;
      border-radius: 0;
    }
    .link {
      color: #333333;
      background-color: #fff;
      text-decoration: none;
    }
  }
}

.nav {
  margin-right: 20px;
  color: #000;
}



/* footer */

.footer {
  position: fixed;
  height: 2rem;
  bottom: 0; /*下に固定*/
  width: 100%;
  font-size: 1em;
  color: #fff;
  background-color: #000;
  opacity: 0.8;
  z-index: 99; //一番上にくる
}

.page-info {
  font-size: 1em;
  color: rgb(24, 24, 24);
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-body {
}

h1 {
  margin-bottom: 20px;
}

.top-main-image {
  width: 100%;
  margin-bottom: 10px;
}

.f-container { 
  display: flex;
  justify-content: flex-end; 
}

ul.top-staff-buttons {
  li {
    float: left;
    margin-left: 5px;
  }
}

.top-content1 {
  border: 1px solid gray;
  padding: 20px;
  height: 200px;
  margin-bottom: 20px;
  ul {
    padding-left: 20px;
  }
  span{
    padding-left: 20px;
  }
}

.top-split-content1 {
  width: 100%;
  margin-bottom: 20px;
  float: left;
}

.top-split-content1-left {
  border: 1px solid gray;
  padding: 20px;
  height: 200px;
  width: 49%;
  margin-right: 2%;
  float: left;
}

.top-split-content1-right {
  border: 1px solid gray;
  padding: 20px;
  height: 200px;
  width: 49%;
  float: left;
}

.top-content2 {
  border: 1px solid gray;
  width: 100%;
  height: 200px;
  padding: 20px;
  float: left;
  margin-bottom: 6rem;
}

// devise設定

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  .form-control {
    margin-bottom: 20px;
  }
}

.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

.round-square-top {
  width: 250px; /* 幅指定 */
  height: 80px; /* 高さ指定 */
  border-radius: 15px; /* 角丸指定 */
  display: inline-block; /* インラインブロックする */
  box-sizing: border-box; /* 崩れ防止 */
  margin-bottom: 5px;
  margin-right: 10px; /* 要素の空き具合指定 */
  padding: 2rem;
  // font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro";    /* フォントの種類を指定 */
  text-align: center;
  line-height: 1.5em;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 255, 198);
  border-color: #000;
  font-size: 15px;
}

/*ページネーション自体のデザイン*/
.pagination {
  /*ページネーションを中央に*/
  justify-content: center;
  display: flex;
}
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}
.pagination > li > a:hover {
  /*ホバー時のデザイン*/
  border-radius: 3px; /*角を丸くする*/
}
/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: gray !important; /*背景の色を変える*/
  border-radius: 3px !important; /*角を丸くする*/
  line-height: 1.25 !important;
  padding: 0.5rem 0.75rem !important;
}
.pagination > .active > a:hover {
  background: lightgray !important; /*背景の色を変える*/
  border-radius: 3px !important; /*角を丸くする*/
}

.image-border {
  border: 1px solid #ccc;
}

.item-show-name,
.event-show-title {
  font-size: 25px;
}

.item-show-price,
.event-show-price {
  font-size: 25px;
  color: crimson;
}

.search-container {
  border: 1px solid #999;
  padding: 3px 10px;
  margin-bottom: 3px;
  width: 260px;
}

.sort_link {
  color: #696969;
}

.sort_link:hover {
  color: #999;
  text-decoration: none;
}

//テーブル表示
.table-white {
  background-color: white;
}

.table-red {
  color: #c22162;
  background-color: #faf1f4;
}

.table-blue {
  color: #0c7ea9;
  background-color: #e3f3f9;
}

.btn-reservation {
  padding: 0.1rem 0.75rem;
}

.fc .fc-scrollgrid {
  background-color: white;
}

#reservation_course {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  margin-bottom: 20px;
  background-color: #fff;
}

#reservation_guest_id {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  margin-bottom: 20px;
  background-color: #fff;
}

#reservation_status {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  margin-bottom: 20px;
  background-color: #fff;
}

.cart-content-wrapper {
  display: flex; // position stickyに必要
  align-items: baseline; // position stickyに必要
}

.cart-content-left {
  width: 50%;
  margin-right: 10%;
}

.cart-content-right {
  width: 40%;
  position: sticky; // position stickyに必要
  align-self: baseline; // position stickyに必要
  top: 6rem; // position stickyに必要 スクロールのときに上で止まる位置
}

.cart-table-left {
}

.cart-table-right {
  border: 10px orange solid;
}

.table-striped {
  border: 1px solid lightgray;
}

.required::after {
  content: "必須";
  color: #ffffff;
  background: #cc0000;
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 0.5em;
  margin-left: 0.3em;
}

.event-content-wrapper {
}

.split-content-left {
  width: 50%;
  margin-right: 10%;
  float: left;
}

.split-content-right {
  width: 40%;
  float: left;
}

.covid_precaution {
  float: left;
  padding-bottom: 4rem;
}

.covid_precaution div {
  padding: 50px;
  background-color: lightgray;
}

.event-card-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.event-card-item {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  border-radius: 10px; /* 角丸指定 */
}

.event-card-title {
  padding: 16px;
  line-height: 1.2;
}

.border-radius-top {
  border-radius: 10px 10px 0px 0px;
}

.menu-new-page-btn {
  margin-bottom:  20px;
}

.store-card-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 40px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.store-card-item {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  border-radius: 10px; /* 角丸指定 */
}

.store-card-title {
  padding: 16px;
  line-height: 1.2;
}

.Editlink {
  text-decoration: none;
  color: #444 ;
}

// お知らせ notification
.notification-image {
  background-image: url("../images/notification-top.jpg");
  max-width: 100%;
  height: 450px;
  background-size: cover;  
  background-position: center center;
  border-radius: 20px;
  span {
    color: whitesmoke;
    font-size: 2.8rem;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
  }
}

.notification-show-image {
  background-image: url("../images/notification-show.jpg");
  max-width: 100%;
  height: 450px;
  background-size: cover;  
  background-position: center center;
  border-radius: 20px;
  span {
    color: whitesmoke;
    font-size: 2.8rem;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
  }
}

.notification-body {
  margin-top: 30px;
  li {
    padding-bottom: 20px;
  }
}

.notification-wrapper {
  background-color: #FFFFFA;
  margin-top: 30px;
  padding: 20px 20px 50px 20px;
  margin-bottom: 20px;
  color: #444;
  h4 {
    color: #444;
    padding-top: 50px;
  }
}

#design-hr {
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ccc), to(transparent));
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
  margin: 30px auto;
}
// -----------------------

// ユーザー用施術一覧メニュー画面で使用(/treatment_menu)
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  #wapper {
    width:100%;
    padding:0;
    margin:0;
    overflow:hidden;
  }

  #page_contents {
    width: 96%;
    max-width: 1200px;
    margin: 80px auto;
  }

  #page_contents .block01 {
    margin-bottom: 80px;
  }

  #page_contents h3 {
    padding: 12px 10px;
    background-color: #D3D1C5;
    margin-bottom: 30px;
    font-size: 120%;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    color: #64554A;
    border-radius: 3px;
  }

  #page_contents p {
    color: #333;
    font-size: 16px;
    font-family: "游ゴシック体", "Yu Gothic", sans-serif;
  }

  #page_contents h4 {
    padding: 12px 10px;
    margin-bottom: 30px;
    font-size: 120%;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    color: #64554A;
    border-bottom: #E9DFD8 2px solid;
  }

  .menu ul.menu_box {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu ul.menu_box .title {
    padding: 10px;
    background-image: url("/menu_bg.jpeg");
    // background: #887E74;
    overflow: hidden;
    font-weight: bold;
    color: #FFFFFF;
  }

  .menu ul.menu_box li {
    width: 46%;
    float: left;
    margin: 2%;
    background-color: #F4EFEC;
  }

  .menu ul.menu_box p {
    margin: 15px;
    line-height: 160%;
  }

  .menu .course_box {
    margin: 15px;
    padding: 10px;
    background-color: #FFFFFF;
  }
// -----------------------

.user-account-wrapper {
  display: flex; // position stickyに必要
  align-items: baseline; // position stickyに必要
  width: 100%;
}

.user-account-wrapper-left {
  width: 65%;
  margin-right: 5%;
}

.user-account-wrapper-right {
  width: 30%;
  align-self: baseline; // position stickyに必要
  top: 6rem; // position stickyに必要 スクロールのときに上で止まる位置
  position: sticky; // position stickyに必要
}

.staff-account-wrapper {
  width: 100%;
  display: flex; // position stickyに必要
  align-items: baseline; // position stickyに必要
}

.staff-account-wrapper-left {
  width: 65%;
  margin-right: 5%;
}

.staff-account-wrapper-right {
  width: 30%;
  align-self: baseline; // position stickyに必要
  top: 6rem; // position stickyに必要 スクロールのときに上で止まる位置
  position: sticky; // position stickyに必要
}

.purchase-record-table {
  span {
    color: red;
  }
}

.font-red {
  color: red;
}

