<div class="smart-phone-index row">
  <div class="smart-phone col-3"><%= link_to '店舗のご案内', stores_path %></div>
  <div class="smart-phone col-3"><%= link_to 'メニューと料金', treatment_menu_menus_path %></div>
  <div class="smart-phone col-3"><%= link_to '商品情報', items_path %></div>
  <div class="smart-phone col-3"><%= link_to 'イベント情報', events_path %></div>
</div>
